.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea
__pycache__
installer
dist
build
.vscode
.conda
validation
/3drekonstruktionspeiseroehre.egg-info
database.db
test_database.db
esophagus-visualization
.DS_Store
**/.DS_Store