matplotlib>=3.6.0rc2
opencv-python-headless==4.7.0.72
dash==2.9.3
dash-bootstrap-components==1.4.2
dash-daq==0.5.0
dash-extensions==0.1.13
natsort==8.4.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.1
plotly==5.14.1
#pyqt5==5.15.9 #PyQt6 #m1
#pyside6==6.3.1 #m1
#pyqtwebengine  PyQt6-WebEngine  #m1
scikit-image==0.20.0
scipy==1.9.1
shapely==2.0.1
waitress==2.1.2
kthread==0.2.3
pyinstaller==5.13.2
setuptools==66.0.0
pyreconstruct==2.2.0
scikit-learn==1.3.0
pyvista==0.42.2
meshio==5.3.4
tcod==16.2.0
sqlalchemy==2.0.23
pillow==10.0.1